@font-face{ font-family: fontG; src: url('../fonts/GOTHIC.TTF');}
@font-face{ font-family: fontD; src: url('../fonts/DINCond-BoldAlternate.otf');}
@font-face{ font-family: fontC; src: url('../fonts/CAMBRIAZ.TTF');}
@font-face{ font-family: fontS; src: url('../fonts/SOURCEHANSERIFCN-EXTRALIGHT.OTF');}
